@font-face {
  font-family: 'BODO_NI';
  src: url('~assets/fonts/BODO_NI.ttf') format("truetype");
}

@font-face {
  font-family: 'radimm';
  src: url('~assets/fonts/radimm.ttf') format("truetype");
}

body {
  font-family: 'BODO_NI';
}

.elegance {
  font-family: 'radimm';
}
